DATABASE_URL = postgres://postgres:<password>@localhost:5432/<database>
# secrecte key example: 3143547867.saveprotect
PAYLOAD_SECRET = 3143547867.saveprotect
NEXT_PUBLIC_API_URL = http://localhost:3000/api

# SMTP Email Configuration
SMTP_HOST = smtp.example.com
SMTP_PORT = 587
SMTP_USER = your_smtp_username
SMTP_PASS = your_smtp_password
SMTP_FROM_EMAIL = no-reply@example.com
SMTP_FROM_NAME = "My Company Name"
CONTACT_RECEIVER_EMAIL = no-reply@67designandbuild.com